<div class="wrap">
	<div class="image"><img class="heads" src="img/coin_us_dollar.png"></img></div>
	<h3 id="regTitle" class="toss-heading">HEADS OR TAILS?</h3>
	<div class="toss-heading-info"></div>
	<div class="button-toss-wrapper" style="display:none;">
		<button class="button-toss button-toss-heads" ng-click="setToss('heads');"><span class="button-text">HEADS</span></button>
		<button class="button-toss button-toss-tails" ng-click="setToss('tails');"><span class="button-text">TAILS</span></button>
	</div>

	<button class="butts button-flip" ng-click="startToss();"><span class="button-text">FLIP THE COIN</span></button>
</div>
